<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="reportPortal" type="ReportPortal.NUnit.ReportPortalSection, ReportPortal.NUnit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<reportPortal enabled="true" logConsoleOutput="true">
		<server url="https://web.demo.reportportal.io/api/v1/" project="default_personal">
			<authentication password="2771ea3b-fec4-4bfc-a472-de46ff398edc"/>
		</server>
		<launch name="NUnit 2 Demo Launch" debugMode="true" tags="t1,t2"/>
	</reportPortal>
</configuration>